.task-container {
  width: 800px;
  height: 56px;
  display: flex;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}

.task-container-completed {
  width: 800px;
  height: 56px;
  display: flex;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #ccdfd2;
  padding: 10px;
}

.task-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-description {
  width: 90%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.task-buttons {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: transparent;
  color: #a70000;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.completed-button {
  background-color: transparent;
  color: #028002;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
