.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  min-width: 400px;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: #3a3a3a;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover {
  color: #000;
}

.modal-title {
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  color: #30837f;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: medium;
  outline: none;
  margin-bottom: 20px;
}

.modal-input:focus {
  border-color: #30837f;
  border-width: 2px;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.cancel-task-button,
.save-task-button {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: medium;
}

.save-task-button {
  background-color: #30837f;
  color: white;
}

.cancel-task-button {
  background-color: #fff;
  color: #3a3a3a;
}
