.chart-content {
  width: 100%;
  height: 400px;
}

.recharts-legend-wrapper {
  font-family: 'Roboto Condensed', sans-serif;
}

.recharts-legend-item {
  margin-bottom: 8px;
}

.recharts-legend-item-text {
  font-size: 16px;
  font-weight: 600;
  margin-left: 6px;
}
