* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 110vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: #d4f1f0; */
  background-color: white;
}

.content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  width: 100%;
  height: 24vh;
  background-color: #30837f;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.add-task-button {
  width: 40%;
  height: 40px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #30837f;
  cursor: pointer;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: medium;
}
