* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: calc(100vw - 300px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  overflow-x: hidden;
  margin-left: 304px;
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header {
  width: 100%;
  height: 24vh;
  background-color: #30837f;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.tasks-container {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 40px;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main-content {
  width: 100%;
  height: calc(100vh - 24vh - 40px);
  display: flex;
  gap: 20px;
  padding: 20px;
}

.chart-wrapper {
  width: 40%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-container::-webkit-scrollbar {
  width: 8px;
}

.tasks-container::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

.tasks-container::-webkit-scrollbar-thumb {
  background: #30837f;
  border-radius: 10px;
}

.tasks-container::-webkit-scrollbar-thumb:hover {
  background: #256d6a;
}

.no-tasks-message {
  padding: 40px 20px;
  text-align: center;
  color: #666;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.add-task-button {
  width: 600px;
  height: 48px;
  padding: 10px;
  margin: 20px 0 40px 0;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #30837f;
  cursor: pointer;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: medium;
  align-items: baseline;
  position: fixed;
  bottom: 20px;
}
